<div id="main-menu-mobile" class="main-menu-mobile">
  <ul>
    <li><a href="{{site.baseurl}}/" class="{% if page.url == '/' %}current{% endif %}">Home</a></li>
    <li><a href="{{site.baseurl}}/drr/" class="{% if page.url contains 'drr' %}current{% endif %}">About DRR</a></li>
    <li><a href="{{site.baseurl}}/team/" class="{% if page.url contains 'team' %}current{% endif %}">Team</a></li>
    <li><a href="{{site.baseurl}}/announcements/" class="{% if page.url contains 'services' %}current{% endif %}">Announcements</a></li>
    <!-- <li><a href="{{site.baseurl}}/testimonials/" class="{% if page.url contains 'testimonials' %}current{% endif %}">Testimonials</a></li> -->
    <li><a href="https://forms.gle/FySxBfA4hwxtH7TR6" target="_blank">Reporting</a></li>
    <li><a href="{{site.baseurl}}/downloads/" class="{% if page.url contains 'downloads' %}current{% endif %}">Downloads</a></li>
  </ul>
</div>