<div id="main-menu-mobile" class="main-menu-mobile">
  <ul>
    <li><a href="{{site.baseurl}}/" class="{% if page.url == '/' %}current{% endif %}">-Home-</a></li>
    <li><a href="{{site.baseurl}}/drr/" class="{% if page.url contains 'drr' %}current{% endif %}">-About DRR-</a></li>
    <li><a href="{{site.baseurl}}/dg/" class="{% if page.url contains 'dg' %}current{% endif %}">-About DG-</a></li>
    <li><a href="{{site.baseurl}}/team/" class="{% if page.url contains 'team' %}current{% endif %}">-Team-</a></li>
    <li><a href="{{site.baseurl}}/announcements/"
        class="{% if page.url contains 'services' %}current{% endif %}">-Announcements-</a></li>
    <!-- <li><a href="{{site.baseurl}}/testimonials/" class="{% if page.url contains 'testimonials' %}current{% endif %}">Testimonials</a></li> -->
    <li><a href="https://forms.gle/FySxBfA4hwxtH7TR6" target="_blank">-Monthly Reports-</a></li>
    <li><a href="https://docs.google.com/forms/d/e/1FAIpQLSdXMsjlrADqKKtAOY49oOkJWIg9895D9gK4u-2dHvbjDoYNeQ/viewform"
        target="_blank">-President & Secretary Details-</a></li>
    <li><a href="https://docs.google.com/forms/d/e/1FAIpQLSfgJ40BlbP9htlmWpH_lRMjSE7cK_EpDYCPcVrOjt1czcfUNg/viewform"
        target="_blank">-Know Your Club-</a></li>
    <li><a href="https://my.rotary.org/en/user/register" target="_blank">-Register on RI-</a></li>
    <li><a href="{{site.baseurl}}/downloads/"
        class="{% if page.url contains 'downloads' %}current{% endif %}">-Downloads-</a></li>
  </ul>
</div>